body {
    font-family: sans-serif;
    background-color: #d4d4d4;
    margin-top: 200px;
    -webkit-user-select: none;
}

.menu {
    animation: none;
}

.prompt {
    font-size: 50px;
    text-align: center;
    animation: appear 2s ease;
}
.prompt h3 {
    font-size: 35px;
}

.prompt span {
    animation: appear 4s ease;
    text-decoration: underline;
}

@keyframes appear {
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}

.header {    
    text-align: center;
}

.header h1{
    background-color:#191919; 
    padding: 35px;
    color: white;
    font-size: 30px;  
}
.header p {
    color: white;
    margin-top: -20px;
    margin-bottom: 0px;
    text-align: left;
    margin-left: 20px;
    font-size: 14px;
}

.menu {
    display: none;
    margin: 0 auto;
    width: 20%;  
    background-color: #1f1f1f; 
}

.sub1 {
    border-top: 1px solid white;
}

.sub1, .sub2, .sub3, .sub4, .sub5, .sub6 {
    padding-left: 20px;
}

.sub1, .sub2, .sub3, .sub4, .sub5, .sub6, a{
    display: block;
    z-index: 1;
    color: white;
    text-decoration: none;
    padding: 7px 10px;
}

.sub1:hover, .sub2:hover, .sub3:hover, .sub4:hover, .sub5:hover, .sub6:hover{
    background: white;
    transition: .4s ease-in;
}

.sub1 a:hover, .sub2 a:hover, .sub3 a:hover, .sub4 a:hover, .sub5 a:hover, .sub6 a:hover {
    color: black;
    transition: .4s ease-in;
}

.op1 {
    border-top: 1px solid white;
}

.op1, .op2, .op3, .op4, .op5, .op6 {
    padding-left: 20px;
}

.op1, .op2, .op3, .op4, .op5, .op6, a{
    display: block;
    z-index: 1;
    color: white;
    text-decoration: none;
    padding: 7px 10px;
}

.op1:hover, .op2:hover, .op3:hover, .op4:hover, .op5:hover, .op6:hover{
    background: white;
    transition: .4s ease-in;
}

.op1 a:hover, .op2 a:hover, .op3 a:hover, .op4 a:hover, .op5 a:hover, .op6 a:hover {
    color: black;
    transition: .4s ease-in;
}

.sub11 {
    display: none;
}

.toggle{
    display: block;
    -webkit-appearance: none;
    background-color: #292929;
    border: 1px solid white;
    float: right;
    margin-top: -27px;
    height: 20px;
    width: 20px;
    user-select: none;
}

.toggle:checked {
    background-color: white;
}